/* ==========================================================================
   Mobile menu
   ========================================================================== */

.c-nav-mobile {
    position: fixed;
    top: 0;
    right: 0;
    width: $mobile-nav-width;
    height: 100%;
    z-index: 200;
    background: $colour-white;
    overflow: auto;
    transform: translate3d($mobile-nav-width, 0, 0);
    transition: all $transition-duration $transition-easing;
    -webkit-overflow-scrolling: touch;
    @media ($mq-lg-min) {
        display: none;
    }
    .no-csstransforms3d & {
        right: (-($mobile-nav-width));
    }
    &.c-nav-mobile--nav-open {
        transform: translate3d(0, 0, 0);
        .no-csstransforms3d & {
            right: 0;
        }
    }
}

/*
   List
   ========================================================================== */

.c-nav-mobile__list {
    list-style: none;
    margin: $base-line-height $grid-padding;
    padding-left: 0;
    text-align: left;
}
.c-nav-mobile__item {
    display: block;
    border-bottom: 1px solid $colour-grey-mid-light;
    &:last-of-type {
        border-bottom: 0;
    }
}
.c-nav-mobile__link {
    display: block;
    text-align: center;
    padding: calc($base-line-height / 2) $grid-padding;
    color: $colour-echo;
    font-size: 18px;
    font-weight: $font-semibold;
    transition: all $transition-duration $transition-easing;
    text-decoration: none;
    &:hover,
    &:active,
    &:focus {
        color: $colour-delta;
        text-decoration: none;
    }
}


/*
   CTA
   ========================================================================== */

.c-nav-mobile__cta {
    display: flex;
    height: 30px;
    background: color($colour-alpha-light lightness(95%));
    color: $colour-alpha-dark;
    @mixin flex-justify center;
    @mixin flex-align center;
    @media ($mq-md-min) {
        display: none;
    }
    p {
        margin-bottom: 0;
        font-size: 13px;
        font-weight: $font-semibold;
        line-height: 14px;
    }
    a {
        color: $colour-alpha-dark;
        text-decoration: underline;
    }
}
