.c-view-container {
    flex: 1;
    background-image: url('./assets/images/background-wood.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
}
