/* ==========================================================================
   Mobile nav toggle button
   ========================================================================== */

.c-header__toggle {
    position: absolute;
    top: 63px;
    transform: translate(0, -55%);
    right: 0;
    transition: background $transition-duration $transition-easing;
    @media ($mq-sm-max) {
        top: 56px;
    }
    @media ($mq-md-min) and ($mq-lg-max) {
        top: 64px;
    }
    @media ($mq-lg-min) {
        display: none;
    }
    &:hover {
        cursor: pointer;
        color: $colour-grey-dark;
    }
}
.c-header__toggle__button {
    position: relative;
    display: block;
    margin: 0 auto 2px;
    width: 100px;
    height: 116px;
    background: $colour-alpha-dark;
    transition: background $transition-duration $transition-easing;
    @media ($mq-sm-max) {
        width: 80px;
        height: 100px;
    }
}
.c-header__toggle__burger {
    position: absolute;
    top: 55px;
    margin-left: 35px;
    width: 30px;
    height: 3px;
    background: $colour-white;
    transition: background $transition-duration $transition-easing;
    @media ($mq-sm-max) {
        top: 48px;
        margin-left: 27px;
    }
    &:before,
    &:after {
        content: "";
        position: absolute;
        left: 0;
        display: block;
        width: 100%;
        height: 3px;
        background: $colour-white;
        transition: all $transition-duration $transition-easing;
    }
    &:before {
        transform: translateY(-6px);
    }
    &:after {
        transform: translateY(6px);
    }
}

/* Hover */

.c-header__toggle:hover {
    .c-header__toggle__button {
        background: $colour-bravo;
    }
    .c-header__toggle__burger {
        background: $colour-white;
    }
    .c-header__toggle__burger:before,
    .c-header__toggle__burger:after {
        background: $colour-white;
    }
}

/* Open */

.o-page-container--nav-open {
    .c-header__toggle__burger {
        background: transparent !important; /* :-/ */
    }
    .c-header__toggle__burger:before {
        background: $colour-white;
        transform: rotate(45deg);
    }
    .c-header__toggle__burger:after {
        background: $colour-white;
        transform: rotate(-45deg);
    }
}
