# System & hidden

.DS_Store
.sass-cache
.idea

# Dependencies (composer, npm & bower)

/vendor
/node_modules
/web/wp-content/themes/**/bower_components

# WordPress

/web/wordpress
/web/wp-config.php
/web/.htaccess
/web/robots.txt
/web/wp-content/debug.log

/web/wp-content/languages
/web/wp-content/plugins/*
!/web/wp-content/plugins/.gitkeep
/web/wp-content/uploads/*
!/web/wp-content/uploads/.gitkeep

# Caches

/web/wp-content/acf-cache
/web/wp-content/wp-rocket-config

# Compiled

/web/wp-content/themes/**/css/dist
/web/wp-content/themes/**/js/dist
