/* ==========================================================================
   Footer
   ========================================================================== */

.c-footer {
    background: $colour-bravo;
    padding-top: calc($base-line-height * 2);
    padding-bottom: calc($base-line-height * 2);
    a {
        text-decoration: underline;
    }
}
