/* ==========================================================================
   Header
   ========================================================================== */

.c-header {
    width: 100%;
    padding: $base-line-height $grid-padding;
    background: $colour-white;
    position: relative;
    /*@media ($mq-xs-max) {
        padding: calc($base-line-height / 2) $grid-padding;
        width: auto;
    }*/
}

.c-header__wrap {
    display: flex;
}

/*
   Logo
   ========================================================================== */

.c-header__brand {
    position: relative;
    display: block;
    width: 188px;
    height: 54px;
    text-indent: -9em;

    overflow: hidden;
    @media ($mq-sm-min) and ($mq-md-max) {
        width: 30.58%;
        padding-bottom: calc(28.7vw * 80/281);
    }
    @media ($mq-lg-min) {
        margin: 2px 0;
        width: 281px;
        height: 80px;
    }
}
