/* ==========================================================================
   Vaidation
   ========================================================================== */

.c-validation {
    text-align: center;
    align-self: center;
    font-size: 14px;
    color: $colour-white;
    > div, > p {
        padding: $grid-padding;
    }
}
.c-validation__success {
    background-color: $colour-alpha-light;
}
.c-validation__failure {
    background-color: $colour-bravo-x-dark;
}
