/* ==========================================================================
   Navigation
   ========================================================================== */

.c-navigation {
    display: flex;
    align-items: center;
}
.c-navigation__list {
    display: flex;
    flex: 1;
    list-style: none;
    padding: 0;
    margin-bottom: 0;
    @media ($mq-sm-max) {
        display: none;
    }
}
.c-navigation__item {
    margin: 0 10px;
    display: flex;
    align-items: center;
    a {
        display: flex;
        align-items: center;
        flex-grow: 1;
        height: 100%;
        color: $colour-alpha;
    }
}
.c-navigation__item--active {
    a {
        color: $colour-bravo;
        font-weight: $font-medium;
    }
}
.c-navigation__link {
    padding: $base-line-height 0;
}
