/* ==========================================================================
   Hero
   ========================================================================== */

.c-hero {
    position: relative;
    margin-bottom: calc($base-line-height * 2);
    @media ($mq-xs-max) {
        margin-bottom: $base-line-height;
        height: calc(100vh - 137px); /* height of the navbar */
    }
    @media ($mq-sm-min) and ($mq-sm-max) {
        height: 400px;
    }
    @media ($mq-md-min) and ($mq-lg-max) {
        height: 480px;
    }
    @media ($mq-xl-min) and ($mq-xl-max){
        height: 510px;
    }
    @media ($mq-xxl-min) {
        height: 660px;
    }
}

/*
   Image
   ========================================================================== */

.c-hero__image {
    @mixin object-fit-parent;
    @mixin overlay-flat;
    z-index: 0;
    /*background: $colour-alpha url("../../assets/svg/preload.svg") no-repeat center; */
    img {
        @mixin object-fit-image;
    }
}

/*
   Content
   ========================================================================== */

.c-hero__content {
    z-index: 10;
    @mixin center-both;
}
