/* ==========================================================================
   Wrapper
   ========================================================================== */

.o-wrapper {
    max-width: $grid-width;
    margin: 0 0 40px;
    @media ($mq-xl-max) {
        padding: 0 15px;
    }
    @media ($mq-md-min) {
        margin: 0 auto 40px;
    }
    .c-header &, .c-footer & {
        margin-bottom: 0;
    }
}
