/* ==========================================================================
   Links
   ========================================================================== */

a {
    color: $colour-alpha;
    transition: color .2s ease-out;
    text-decoration: none;
    &:hover {
        color: $colour-alpha;
    }
}
